<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <style>
  body{
   text-align: center;
   padding: 0;
   margin: 0;
  }
  h1{
    font-size: 40px;
  }
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn{
    width: 180px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
 </style>
</head>
<body>
  <div class="container">
    <h1>Hello Mail</h1>
    <p>We do lazy works for you</p>
    <a href="/auth/google"><button class="btn">Sign in with google</button></a>
  </div>
</body>
</html>